<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, This is suribabubonu</h1>
		<p>I love to do programming!! </p>
	</div>
</div>